.logo {
	margin-top: 10px;
	display: inline-block;
	width: 100px;
}

.header {
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(img/nuno-marques-0GbrjL3vZF4-unsplash.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}

nav {
	display: flex;
	padding: 1% 4%;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	img {
		width: 60px;
	}
}
.nav-links {
	flex: 1;
	text-align: right;
	ul {
		li {
			list-style: none;
			display: inline-block;
			padding: 8px 12px;
			position: relative;
          
			a {
				color: #2c3e50;
				text-decoration: none;
				font-size: 13px;
				font-family: 'Nunito', sans-serif;
                font-weight: 700;
               
			}
			&:after {
				content: '';
				width: 0%;
				height: 2px;
				background: #ff6b6b;
				opacity: .6;
				display: block;
				margin: auto;
				transition: 0.5s;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}


.brand {
	display: flex;
	align-items: center;

	.brand-name {
		font-size: 36px;
		margin: 0;
		padding: 0 0 0 20px;
		font-family: 'Poppins', sans-serif;
		font-weight: 800;
		color: #2c3e50;
		text-transform: uppercase;
		font-family: 'Inter', sans-serif;
	}
}

